/* Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}

:root {
   --primary-color: #1b4332;
   --gradient-color: #2d6a4f;
}

body {
   background-image: linear-gradient(to bottom, #2d6a4f, #1b4332);
   height: 100dvh;
   overflow: hidden;
   font-family: "Poppins", sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn {
   background-color: bisque;
   font-weight: bold;
   border: none;
   cursor: pointer;
   padding: 10px 15px;
   border-radius: 5px;
}

.btn:hover {
   background-color: rgb(247, 213, 172);
   font-weight: bold;
   border: none;
   cursor: pointer;
   padding: 10px 15px;
   border-radius: 5px;
}

.container {
   height: 100%;
   width: 100%;
   display: none;
}

.content {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
}

header {
   width: 100%;
   display: flex;
   justify-content: space-around;
}

header > img {
   width: 50px;
   filter: drop-shadow(5px 5px 45px #f7f0ab);
   transform-origin: top;
   opacity: 0;
   animation: fade 2s 0.5s ease-in-out forwards,
      swing 4s 2.5s ease-in-out infinite alternate, toBottom 2s 0.2s ease-in-out;
}

header > img:nth-child(odd) {
   height: 210px;
   margin-top: 5px;
   opacity: 0;
   animation: fade 2s 0.5s ease-in-out forwards,
      swing 4s 3s ease-in-out infinite alternate both,
      toBottom 2s 0.2s ease-in-out;
}

main {
   padding: 0 10px;
   height: 50%;
   color: white;
   z-index: 1;
   text-align: center;
   max-width: 600px;
   opacity: 0;
   animation: fade 2s 2s ease-in-out forwards;
}

.p-1 {
   display: flex;
   flex-direction: column;
   font-size: 1.1rem;
}

.p-1 > span {
   font-size: 2rem;
   font-weight: bold;
}

.p-2 {
   font-size: 0.9rem;
}

.p-2 > span {
   font-weight: bold;
   font-size: 1rem;
}

footer {
   width: 100%;
   position: relative;
}

footer > img {
   width: 100%;
   position: absolute;
   bottom: -50px;
   animation: toTop 2s ease-in-out;
}
/* Animartion */

@keyframes swing {
   0% {
      transform: rotateZ(0deg);
   }
   50% {
      transform: rotateZ(-8deg);
   }
   100% {
      transform: rotateZ(8deg);
   }
}

@keyframes toTop {
   0% {
      transform: translateY(400px);
   }
   100% {
      transform: translateY(0px);
   }
}

@keyframes toBottom {
   0% {
      transform: translateY(-400px);
   }
   100% {
      transform: translateY(0px);
   }
}

@keyframes fade {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

/* Breakpoint */

/* Android */
@media screen and (min-width: 320px) and (max-width: 600px) {
   header > img {
      width: 45px;
   }

   header > img:nth-child(odd) {
      display: none;
   }

   footer > img {
      width: 150%;
      bottom: 0px;
      left: -100px;
   }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 835px) {
   .p-1 {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
   }

   .p-1 > span {
      font-size: 2.4rem;
      font-weight: bold;
   }

   .p-2 {
      font-size: 0.9rem;
   }

   .p-2 > span {
      font-weight: bold;
      font-size: 1rem;
   }

   header > img {
      width: 60px;
   }

   header > img:nth-child(odd) {
      display: none;
   }

   footer > img {
      width: 130%;
      bottom: 0px;
      left: -100px;
   }
}
